.gallery-image-preview, .gallery-image-container{
    position: relative;
    max-height: 90%;
    max-width: 90%; 
    height: auto;
    width: auto;

}

.gallery-image {
    position: relative;
    display: inline-block;
    align-items: center;
    width: 100%;
}
.delete-image{
    
    background-color: red;
    display: block;
    position: relative;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
}
.gallery-image-preview:hover .delete-image{
    display:block;
}

.gallery-row{
    border-spacing: 5em;
    border-collapse: collapse;
}
.gallery-row td{
    height: 1px;
}
.gallery-image{
    width: 45%;
    height: 100%;
}

.sherpa-th{
    text-align: left !important;
}

.td-border{
    height: 90%;
    padding: 0.5em;

}
.sherpa-custom-field-body .gallery-row td:first-child .td-border{

    border-top: dashed 2pt #ababab;
    border-left: dashed 2pt #ababab;
    border-bottom: dashed 2pt #ababab;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-collapse: collapse;
}
.sherpa-custom-field-body .gallery-row td:last-child .td-border{

    border-top: dashed 2pt #ababab;
    border-right: dashed 2pt #ababab;
    border-bottom: dashed 2pt #ababab;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-collapse: collapse;
}
.sherpa-custom-field-body .gallery-row td:first-child{

    padding: 1em 0 1em 0;
    box-sizing: border-box;

}
.sherpa-custom-field-body .gallery-row td:last-child{
   
    padding: 1em 0 1em 0;
    box-sizing: border-box;
}
.sherpa-table-label{
    padding-left: 1em;
}
.gallery-image, .gallery-caption{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;

}
.sherpa-custom-field-body{
    width: 100%;
}


.sherpa-custom-field-table-left{
    max-height: 100%;
    max-width: 100%;
}
.gallery-row img{
    width: 100%;
    height: auto;
    object-fit: cover;
    
}
.sherpa-custom-field-table{
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0.5em;
    width: 100%;
    border: 1px solid #dcdcde;
    border-spacing: 0;
    background-color: #f6f7f7;
}






