.gallery-image-preview, .gallery-image-container{
    position: relative;
    max-height: 90%;
    max-width: 90%; 
    height: auto;
    width: auto;

}

.gallery-image {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}
.delete-image{
    
    background-color: red;
    display: block;
    position: relative;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
}
.gallery-image-preview:hover .delete-image{
    display:block;
}
.gallery-image{
    max-width: 45%;
    
    
}
.gallery-row{
    display: block;
    max-height: auto;
    height: auto;
    padding: 1%;
    border: solid thick black;
    border-radius: 10px;
}
.sherpa-custom-field-table-left{
    max-height: 100%;
    max-width: 100%;
}
.gallery-row img{
    width: 100%;
    height: auto;
    object-fit: cover;
    
}
.sherpa-custom-field-table{
    margin: 0;
    width: 100%;
    border: 1px solid #dcdcde;
    border-spacing: 0;
    background-color: #f6f7f7;
}






